<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">protractorDemo</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#" id="smurfButton">Smurf!<span style="padding-left:7px" class="glyphicon glyphicon-ok"></span></a></p>
</div>

<form class="form-inline">
  <input type="text" ng-focus="focusInputField" class="form-control" ng-model="newAwesomeThing">
  <input class="btn btn-lg" id="addItemBtn" value="Add Item" type="button" ng-click="addItem()"/>
</form>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
    <h4>{{thing}}</h4>
  </div>
 
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
